<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">

	<title>MMORPG - Game of Thrones</title>

	<!-- JQuery -->
	<script src="js/jquery-2.2.1.js"></script>

	<!-- bootstrap - link cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- incluindo css -->
	<link href="css/style.css" rel="stylesheet">

	<script>
		$(document).ready(function () {
			$('#btn_sair').click(function () {
				window.location.href = '/sair'
			})

			$('#btn_suditos').on('click', function () {

				// Retiro a mensagem de erro da tela do jogo
				$('#msg').hide()

				// Método Ajax
				$.ajax({
					url: '/suditos', // A URL que envio a requisição
					method: 'get', // Método da requisição
					success: function (data) {
						// Quando true, o SUCCESS retorna em sua função de callback um parametro, nesse caso DATA.
						// O DATA retorna a pagina aldeoes.ejs que está na pasta/diretorio \app\views\aldeoes.ejs
						// Lembrando que o envio para o /suditos com o método GET é pego na route \app\routes\jogo.js

						// Aqui insiro a pagina jogo.ejs dentro da div #acoes.
						$('#acoes').html(data)
					}
				})
			})

			$('#btn_pergaminho').click(function () {

				$('#msg').hide()

				// Método Ajax
				$.ajax({
					url: '/pergaminhos', // A URL que envio a requisição
					method: 'get', // Método da requisição
					success: function (data) {
						// Quando true, o SUCCESS retorna em sua função de callback um parametro, nesse caso DATA.
						// O DATA retorna a pagina pergaminhos.ejs que está na pasta/diretorio \app\views\pergaminhos.ejs
						// Lembrando que o envio para o /suditos com o método GET é pego na route \app\routes\jogo.js

						// Aqui insiro a pagina jogo.ejs dentro da div #acoes.
						$('#acoes').html(data)

						clearTimeout(timeId)

						// Executa a função chamada cronometro
						cronometro()
					}
				})
			})

		})

		var timeId = null;

		function cronometro() {
			// Estou acessando todos valores que vão na classe tempo_resta. Seria parecido como um array, assim eu uso a função each()
			$('.tempo_restante').each(function () {

				// Aqui estou pegando o que é pessado em cada elemento/classe [.tempo_resta]
				// Exemplo, se tiver 3 lista, essas 3 listas estão usando a classe [tempo_resta], dessa forma é percorrido um por um e pego seu valor em html e setado na variavel segundos.
				var segundos = $(this).html()
				var segundos_atuais = parseInt(segundos) - 1

				if (segundos_atuais < 0) {
					window.location.href = "/jogo?msg=C"
				} else {
					$(this).html(segundos_atuais)
				}
			})

			timeId = setTimeout('cronometro()', 1000)
		}
	</script>

</head>

<body class="body-jogo">

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="form-group sair">
				<button type="button" class="btn btn-info pull-right" id="btn_sair">Sair</button>
			</div>
		</div>
	</nav>

	<div class="container">

		<!-- A variavel [comando_invalido] está vindo do arquivo mmorpg-got\app\controllers\jogo.js -->
		<% if( msg == 'A') {%>
		<div class="alert alert-danger" id="msg">
			<strong>Operação inválida, verifique se todos os campos foram informados!</strong>
		</div>
		<% } %>

		<% if( msg == 'B') {%>
		<div class="alert alert-info" id="msg">
			<strong>Ação realizada com sucesso!</strong>
		</div>
		<% } %>

		<% if( msg == 'C') {%>
		<div class="alert alert-info" id="msg">
			<strong>Senhor, a atividade(s) ordenada(s) foi finalizada!</strong>
		</div>
		<% } %>
		<% if( msg == 'D') {%>
		<div class="alert alert-info" id="msg">
			<strong>Senhor, a ordem foi revogada!</strong>
		</div>
		<% } %>

		<div class="row">
			<div class="col-sm-3 casa">
				<img src="images/casa_<%= img_casa %>.jpg" />
			</div>

			<div class="col-sm-9">
				<div class="row barra-superior">
					<div class="col-sm-2">
						<img src="images/habilidades/temor.jpg" title="Temor" alt="Temor" />
						<span><%= jogo.temor %></span>
					</div>

					<div class="col-sm-2">
						<img src="images/habilidades/sabedoria.jpg" title="Sabedoria" alt="Sabedoria" />
						<span><%= jogo.sabedoria %></span>
					</div>

					<div class="col-sm-2">
						<img src="images/habilidades/comercio.jpg" title="Comércio" alt="Comércio" />
						<span><%= jogo.comercio %></span>
					</div>

					<div class="col-sm-2">
						<img src="images/habilidades/magia.jpg" title="Magia" alt="Magia" />
						<span><%= jogo.magia %></span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-9">
				<div class="acoes" id="acoes">Senhor, o que deseja fazer hoje?</div>
			</div>
		</div>

	</div>

	<div class="barra-inferior">
		<div class="container">

			<div class="row">
				<div class="col-sm-1">
					<img src="images/outros/suditos.jpg" title="Aldeões" alt="Aldeões" id="btn_suditos" />
					<span><%= jogo.suditos %></span>
				</div>

				<div class="col-sm-1">
					<img src="images/outros/pergaminho.jpg" title="Pergaminhos" alt="Pergaminhos" id="btn_pergaminho" />
				</div>

				<div class="col-sm-8"></div>

				<div class="col-sm-2">
					<img src="images/outros/moeda.jpg" title="Moeda" alt="Moeda" />
					<span><%= jogo.moeda %></span>
				</div>

			</div>
		</div>
	</div>
</body>

</html>