<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <title>MMORPG - Game of Thrones</title>

    <!-- JQuery -->
    <script src="js/jquery-2.2.1.js"></script>

    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- incluindo css -->
    <link href="css/style.css" rel="stylesheet">

    <style>
        .inscricao_sucesso {
            padding: 20px 40px;
        }

        .inscricao_sucesso h3 {
            font-size: 32px;
            color: #fff;
            font-weight: bold;
            margin-bottom: 40px;
        }
        .inscricao_sucesso h4 {
            font-size: 32px;
            color: #C9302C;
            font-weight: bold;
            margin: 40px 0;
        }
    </style>

</head>

<body class="body-index">

    <% if(sucesso.length > 0){ %>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="images/game_of_thrones_logo.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="inscricao_sucesso">
                    <h3>Inscrição realizada com sucesso</h3>
                    <button class="btn btn-lg btn-primary" id="btn_logar_jogo">Logar no Jogo</button>
                </div>

            </div>
        </div>
    </div>
    <% } else{  %>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="inscricao_sucesso">
                    <h4>Opss... Algo deu erro, tente cadastrar mais uma vez!</h4>
                    <button class="btn btn-lg btn-danger" id="btn_cadastrar_de_novo">Cadastrar novamente</button>
                </div>

            </div>
        </div>
    </div>
    <% } %>

    <script>
        $("#btn_logar_jogo").click(function () {
            window.location.href = "/"
        })
        $("#btn_cadastrar_de_novo").click(function () {
            window.location.href = "/cadastro"
        })
    </script>
</body>

</html>